<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
</head>
<body>
    <center>
        Fornecedores
 
    <ul>
        {% for fornecedor in fornecedores %}
        <a href="{% url 'atualizafornecedor' fornecedor.id_fornecedor %}">
            <li> {{ fornecedor.nome}} </li>
        </a>
            <li> {{ fornecedor.sobrenome}} </li>
            <li> {{ fornecedor.email}} </li>
            <li> {{ fornecedor.celular}} </li>


        {% endfor %}
    </ul>


    <p>
        <a href="{% url 'cadastrofornecedor'%}">Adicionar Fornecedor </a>
    </p>
    

    </center>
</body>
</html>