<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Clientes</title>
</head>
<body>
    <center>
    Cadastro Clientes
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit"> Salvar </button>
    </form>


    {% if cliente %}
        <a href="{% url 'apagarcliente' cliente.id_cliente %}"> Apagar Cliente </a>
    {% endif %}
    </center>

</body>
</html>